{% extends 'base_layout.html' %}
{% load static %}
{% block content %}

      <div class="page">

        <!-- Update Page Title -->
        <div class="page__title">
          <img src="{% static '/img/tca.png' %}" class="page__title--pic">
          <span class="page__title--subHead">Stratergy Manager</span>
          <span class="page__title--txt">Create New Strategy</span>
        </div>

        <!-- Content Begins -->

        <form method="post" class="rwd" action="createstrategy" enctype="multipart/form-data">{% csrf_token %}
 

            <div class="formItem">
                <label class="desc" id="title1" for="Field1">Strategy Name</label>
                <div>
                  <input id="Field1" name="strategyname" type="text" class="field" value="" size="8" tabindex="1">
                </div>
              </div>

 

              <div class="formItem">
                <label class="desc" id="title1" for="Field1">Data File</label>
                <div>
                    <select class="" tabindex="2" name="viewstrategydata" required="required">
                      <option value="" disabled selected></option>
                      {% for param in params %}
                
                      <option value="{{ param }}">
                        {{param}}
                      </option>
                      {% endfor %}

                    </select>
                </div>
              </div>

              <div class="formItem">
                <label class="desc" id="title1" for="Field1">Parameters</label>
                <div>
                    <div>
                        <select class="" tabindex="2" name="parameterkey" required="required">
                            <option value="" disabled selected></option>
                            <option value="Rows">
                            Rows
                            </option>
                            <option value="Columns">
                            columns
                            </option>
          
                        </select>
                        </select>
                    </div>               
                   </div>
              </div>

              <div class="formItem">
                <label class="desc" id="title1" for="Field1">Benchmark Name</label>
                <div>
                    <div>
                        <select class="" tabindex="2" name="Benchmark" required="required">
                            <option>Select Benchmark</option>
                            <option value="BSE">BSE</option>
                            <option value="NSE">NSE</option>
                        </select>
                    </div>                </div>
              </div>

 

              <div class="formItem">
                <label class="desc" id="title1" for="Field1">Comments</label>
                <div>
                    <textarea id="Field1" name="comments" type="text" class="field" value="" size="8" tabindex="11"></textarea>
                </div>
              </div>
        
 
              <div class="formItem">
                <div>
                    <button type="submit" name="savestrategy" class="bttn bttn_pri">Submit</button>
                    <input type="button" class="bttn" value="Cancel">
                </div>
              </div>

        </form>

    <!-- Content Ends -->

    {% endblock %}   


