{% extends 'base_layout.html' %}
{% load static %}
{% block content %}

      <div class="page">

      <div class="page__title">
        <img src="{% static '/img/tca.png' %}" class="page__title--pic">
        <span class="page__title--subHead">Transaction Cost Analysis</span>
        <span class="page__title--txt">Add New Transaction</span>
      </div>

        <!-- Content Begins -->


    <form method="post" class="rwd" action="tca" enctype="multipart/form-data">{% csrf_token %}


    <div class="formItem">
        <label class="desc" id="title1" for="Field1">Broker Name</label>
        <div>
          <!-- <input id="Field1" name="Field1" type="text" class="field" value="" size="8" tabindex="1"> -->
          <input type="text" tabindex="1" value="" autofocus name="brokername" list="brokers" />
          <datalist id="brokers">
            <option>Aarav</option>
            <option>Abhilash</option>
            <option>Agrata</option>
            <option>Avish</option>
            <option>Ayaan</option>
            <option>Akshay</option>
            <option>Alagan</option>
            <option>Anand</option>
            <option>Bhavya</option>
            <option>Brinda</option>
            <option>Chetan</option>
          </datalist>
        </div>
      </div>


      <div class="formItem">
        <label class="desc" id="title1" for="Field1">Investee Country</label>
        <div>
          <input id="Field1"  type="text" class="field" value="" name="countryname" size="8" tabindex="1">
        </div>
      </div>


      <div class="formItem">
        <label class="desc" id="title1" for="Field1">Purchase Currency</label>
        <div>
          <input id="Field1"  type="text" class="field" value="" name="purchasecurrency" size="8" tabindex="2">
        </div>
      </div>


      <div class="formItem">
        <label class="desc" id="title1" for="Field1">Investment Currency</label>
        <div>
          <input id="Field1"  type="text" class="field" value="" name="investeecurrency" size="8" tabindex="3">
        </div>
      </div>


      <div class="formItem">
        <label class="desc" id="title1" for="Field1">Delivery Brokerage</label>
        <div>
          <input id="Field1"  type="text" class="field" value="" name="deliverybrokage" size="8" tabindex="4">
        </div>
      </div>


      <div class="formItem">
        <label class="desc" id="title1" for="Field1">LTCG Tax</label>
        <div>
          <input id="Field1"  type="text" class="field" value="" name="ltcgtax" size="8" tabindex="5">
        </div>
      </div>


      <div class="formItem">
        <label class="desc" id="title1" for="Field1">All Other Charges</label>
        <div>
          <input id="Field1"  type="text" class="field" value="" name="othercharges" size="8" tabindex="6">
        </div>
      </div>


      <div class="formItem">
        <label class="desc" id="title1" for="Field1">Purchase Type </label>
        <div>
            <select class="form-control" name="purchasetype">
                <option value="" disabled selected></option>
                <option value="Full">
                    Full 
                </option>
                <option value="Specific">
                    Specific
                </option>
            </select>
        </div>
      </div>


      <div class="formItem">
        <label class="desc" id="title1" for="Field1">Purchase Rate</label>
        <div>
          <input id="Field1"  type="text" class="field" value="" name="purchaserate" size="8" tabindex="8">
        </div>
      </div>


      <div class="formItem">
        <label class="desc" id="title1" for="Field1">Quantity</label>
        <div>
          <input id="Field1"  type="text" class="field" value="" name="quantity" size="8" tabindex="9">
        </div>
      </div>


      <div class="formItem">
        <label class="desc" id="title1" for="Field1">Purchase Date</label>
        <div>
          <input id="Field1"  type="text" class="field" value="" name="purchase_date" size="8" tabindex="10">
        </div>
      </div>


      <div class="formItem">
        <label class="desc" id="title1" for="Field1">Comments</label>
        <div>
          <textarea id="Field1"  type="text" class="field" value="" name="comments" size="8" tabindex="11"></textarea>
        </div>
      </div>


      <div class="formItem">
        <div>
            <input type="submit" class="bttn bttn_pri" value="Submit">
            <input type="button" class="bttn" value="Cancel">
        </div>
      </div>


</form>


    <!-- Content Ends -->

    {% endblock %}  





