{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
      <div class="page">

        <!-- Update Page Title -->
        <div class="page__title">
          <img src="{% static '/img/tca.png' %}" class="page__title--pic">
          <span class="page__title--subHead">Vantage Quant</span>
          <span class="page__title--txt">Transaction Cost Analysis</span>
        </div>

        <!-- Content Begins -->
        <div class="bttn bttn_pri" style="display:inline-block;"><a href="tca">Create New TCA</a></div>

        <table id="table_id" width="100%" class="display table table-bordered table-hover dt-responsive">
          <thead style="background-color:rgb(16, 62, 131); color:#fff;">
              <tr>
                  <th>Purchase Date</th>
                  <th>Broker Name</th>
                  <th>Purchase Type</th>
                  <th>Quantity</th>
                  <th>Investee Country</th>
                  <th>Purchase Currency</th>
                  <th>Investment Currency</th>
                  <th>Purchase Rate</th>
                  <th>Delivery Brokerage</th>
                  <th>LTCG Tax</th>
                  <th>All other Charges</th>
              </tr>
          </thead>
          <tbody>
            {% for tca in TCA_list %}
            <tr>
              <td><a href="tcaView.htm">{{ tca.Purchase_Date }}</a></td>
              <td>{{ tca.Broker_Name }}</td>
              <td>{{ tca.Purchasetype }}</td>
              <td>{{ tca.Quantity }}</td>
              <td>{{ tca.Country_Name }}</td>
              <td>{{ tca.Purchase_Currency }}</td>
              <td>{{ tca.Investee_Currency }}</td>
              <td>USD {{ tca.purchaserate }}</td>
              <td>USD {{ tca.Delivery_Brokage }}</td>
              <td>{{ tca.Ltcg_Tax }}</td>
              <td>{{ tca.Other_Charges }}</td>
            </tr>
            {% endfor %} 
           
          </tbody>
      </table>


    <!-- Content Ends -->
    {% endblock %}  





